<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출하관리 </title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/shipment.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div id="wrap">
    <nav th:replace="sideMenu::nav"></nav>
    <aside>
        <form class="orderForm" th:action="@{/mes/shipmentsearch}" method="get">
            <div class="topArea">
                <h1> 입고관리</h1>
                <div id="btnWrap">
                    <button class="return">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.303" height="16.221" viewBox="0 0 17.303 16.221">
                            <path id="redo_FILL0_wght400_GRAD0_opsz48" d="M166.272,272.221a6.251,6.251,0,0,1-4.42-1.73,5.852,5.852,0,0,1,0-8.543,6.251,6.251,0,0,1,4.42-1.73h7.948l-3.082-3.082L172.274,256l5.029,5.029-5.029,5.029-1.136-1.135,3.082-3.082h-7.975a4.644,4.644,0,0,0-3.258,1.257,4.254,4.254,0,0,0,0,6.245,4.644,4.644,0,0,0,3.258,1.257h7.813v1.622Z" transform="translate(-160 -256)" fill="#fff"/>
                        </svg>

                        <button class="check" type="submit">조회</button>
                        <button id="fileSave" type="button">엑셀저장</button>
                    </button>
                </div>
            </div>

            <div id="tableCheckWrap">
                <table id="tableCheck">
                    <tr class="tablerow">
                        <td class="inventory">회사</td>
                        <td>
                            <select class="company" name="company">
                                <option value="">회사명</option>
                                <option value="쿠팡">쿠팡</option>
                                <option value="지마켓">지마켓</option>
                                <option value="11번가">11번가</option>
                            </select>
                        </td>

                        <td class="inventory">입고일자</td>

                        <td><input type="date" class="datepicker" name="startDate"></td>
                        <td>~</td>
                        <td><input type="date" class="datepicker" id="picker" name="endDate"></td>
                        <td class="inventory">입고번호</td>
                        <td>
                            <input type="text"name="shipmentNo">
                        </td>
                        <td class="inventory">수주번호</td>
                        <td>
                            <input type="text"name="orderNo">
                        </td>
                    </tr>
                    <tr class="tablerow">
                        <td class="inventory">품목</td>
                        <td>
                            <select class="drop" name="productId">
                                <option value="">품목</option>
                                <option value="P001">양배추즙</option>
                                <option value="P002">흑마늘즙</option>
                                <option value="P003">석류젤리</option>
                                <option value="P004">매실젤리</option>
                            </select>
                        </td>
                        <td class="inventory">거래처</td>
                        <td>
                            <select class="drop" name="companyName">
                                <option value="">거래처</option>
                                <option value="코드하우스">코드하우스</option>
                                <option value="하나로마트">하나로마트</option>
                                <option value="에이농장">에이농장</option>
                                <option value="팔피엠">팔피엠</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </form>


        <div id="orderList">
            <h1> 입고목록 </h1>
            <div class="allSelect">전체선택</div>
            <div class="table-container">
                <table class="orderData">
                    <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td onclick="porderNum()">입고번호</td>
                        <td>발주번호</td>
                        <td>자재</td>
                        <td>수량</td>
                        <td>날짜</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inList, porderIndex : ${in}" onclick="toggleCheckbox(this)">
                        <td th:text="${porderIndex.index + 1}"></td>
                        <td>
                            <input type="checkbox" id="checkbox">
                        </td>
                        <td th:text="${inList.ingredientInId}"></td>
                        <td th:text="${inList.porderNo}"></td>
                        <td th:if="${inList.ingredientId == 'I001'}">양배추</td>
                        <td th:if="${inList.ingredientId == 'I002'}">흑마늘</td>
                        <td th:if="${inList.ingredientId == 'I003'}">석류농축액</td>
                        <td th:if="${inList.ingredientId == 'I004'}">매실농축액</td>
                        <td th:if="${inList.ingredientId == 'I005'}">콜라겐</td>
                        <td th:if="${inList.ingredientId == 'I006'}">파우치</td>
                        <td th:if="${inList.ingredientId == 'I007'}">스틱파우치</td>
                        <td th:if="${inList.ingredientId == 'I008'}">포장Box</td>
                        <td th:text="${inList.inputQuantity}"></td>
                        <td th:text="${inList.inputDate}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>



        <!--      <div id="orderDetails">-->
        <!--        <h1> 출하상세 </h1>-->

        <!--        <div class="table-container">-->
        <!--          <table class="orderData">-->
        <!--            <thead>-->
        <!--            <tr>-->
        <!--              <td></td>-->
        <!--              <td></td>-->
        <!--              <td>수주번호</td>-->
        <!--              <td>제품명</td>-->
        <!--              <td>납품예정일</td>-->
        <!--              <td>기준단위</td>-->
        <!--              <td>창고</td>-->
        <!--              <td>수량</td>-->
        <!--              <td>단가</td>-->
        <!--              <td></td>-->
        <!--              <td></td>-->
        <!--              <td></td>-->
        <!--            </tr>-->
        <!--            </thead>-->
        <!--            <tbody>-->
        <!--            <tr class="row-data" th:each="order, index : ${orderList}" th:with="product=${productList}, porder=${porderList}"  onclick="toggleCheckbox(this)">-->
        <!--              <td th:text="${index.count}"></td> &lt;!&ndash;번호&ndash;&gt;-->
        <!--              <td>-->
        <!--                <input type="checkbox" onclick="event.stopPropagation()" class="row-checkbox">-->
        <!--              </td>-->
        <!--              <td th:text="${order.orderNo}"></td> &lt;!&ndash;수주번호&ndash;&gt;-->
        <!--              &lt;!&ndash;            <td th:text="${shipment.get(index.index).shipmentStatus}"></td> &lt;!&ndash;진행상태&ndash;&gt;&ndash;&gt;-->
        <!--              &lt;!&ndash;            <td th:text="${shipment.get(index.index)?.shipmentStatus}"&ndash;&gt;-->
        <!--              &lt;!&ndash;                th:style="${shipment.get(index.index)?.shipmentStatus == 'Y'} ? 'color: blue' : 'color: red'"></td>&ndash;&gt;-->
        <!--              <td th:if="${order.productId == null}"></td> &lt;!&ndash;제품코드가 없ㄱ을때&ndash;&gt;-->
        <!--              <td th:if="${#strings.equals(order.productId, 'P001')}">양배추즙</td> &lt;!&ndash;제품코드&ndash;&gt;-->
        <!--              <td th:if="${#strings.equals(order.productId, 'P002')}">흑마늘즙</td> &lt;!&ndash;제품코드&ndash;&gt;-->
        <!--              <td th:if="${#strings.equals(order.productId, 'P003')}">석류젤리</td> &lt;!&ndash;제품코드&ndash;&gt;-->
        <!--              <td th:if="${#strings.equals(order.productId, 'P004')}">매실젤리</td> &lt;!&ndash;제품코드&ndash;&gt;-->
        <!--              &lt;!&ndash;            <td th:text="${product.get(index.index).productName}"></td> &lt;!&ndash;제품명&ndash;&gt;&ndash;&gt;-->
        <!--              <td th:text="${order.deliveryDate}"></td> &lt;!&ndash;납품예정일&ndash;&gt;-->
        <!--              <td>BOX</td> &lt;!&ndash;기준단위&ndash;&gt;-->
        <!--              <td>포장창고</td> &lt;!&ndash;창고&ndash;&gt;-->
        <!--              <td th:text="${order.orderQuantity}"></td> &lt;!&ndash;주문수량&ndash;&gt;-->
        <!--              <td th:text="${order.orderPrice}"></td> &lt;!&ndash;단가&ndash;&gt;-->
        <!--              <td></td> &lt;!&ndash;합계&ndash;&gt;-->
        <!--              <td></td>-->
        <!--              <td></td>-->
        <!--            </tr>-->
        <!--            </tbody>-->
        <!--          </table>-->
        <!--        </div>-->
        <!--      </div>-->


    </aside>
</div>


<!-- 스크립트 -->
<script>

</script>
<script src="/js/datapicker.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/download.js"></script>
<script src="/js/click.js"></script>
<!--  <script src="/js/sort.js"></script>-->

<!-- "excel download" -->
<!-- Sheet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<!--FileSaver savaAs 이용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</body>
</html>