<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 작업실적 </title>
  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/prodPerform.css">
  <!-- <link rel="stylesheet" href="css/popUpOrder.css"> -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div id="wrap">
  <nav th:replace="sideMenu::nav"></nav>

  <aside>
    <form class="orderForm">
      <div class="topArea">
        <h1> 작업실적등록</h1>
        <div id="btnWrap">
          <button class="return">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.303" height="16.221" viewBox="0 0 17.303 16.221">
              <path id="redo_FILL0_wght400_GRAD0_opsz48" d="M166.272,272.221a6.251,6.251,0,0,1-4.42-1.73,5.852,5.852,0,0,1,0-8.543,6.251,6.251,0,0,1,4.42-1.73h7.948l-3.082-3.082L172.274,256l5.029,5.029-5.029,5.029-1.136-1.135,3.082-3.082h-7.975a4.644,4.644,0,0,0-3.258,1.257,4.254,4.254,0,0,0,0,6.245,4.644,4.644,0,0,0,3.258,1.257h7.813v1.622Z" transform="translate(-160 -256)" fill="#fff"/>
            </svg>

          </button>
          <button class="check" type="button">조회</button>
          <button class="new" type="button">신규</button>
          <button class="retouch" type="button">수정</button>
        </div>
      </div>

      <div id="tableCheckWrap">
        <table id="tableCheck">
          <tr class="tablerow">
            <td class="inventory">회사</td>
            <td>
              <select class="company">
                <option value="select">회사명</option>
                <option value="cupang">쿠팡</option>
                <option value="Gmarket">지마켓</option>
                <option value="11">11번가</option>
              </select>
            </td>

            <td class="inventory">지시일자</td>
            <td><input type="date" class="datepicker"></td>
            <td>~</td>
            <td><input type="date" class="datepicker" id="picker"></td>
            <td class="inventory">공정</td>
            <td>
              <input type="search">
            </td>
          </tr>
          <tr class="tablerow">
            <td class="inventory">제조오더번호</td>
            <td>
              <input type="search">
            </td>
            <td class="inventory">실적번호</td>
            <td>
              <input type="search">
            </td>
            <td class="inventory">품목</td>
            <td>

              <select class="drop">
                <option value="select">품목</option>
                <option value="cabbage">양배추즙</option>
                <option value="garlic">흑마늘즙</option>
                <option value="Pomegranate">석류젤리</option>
                <option value="plum">매실젤리</option>
              </select>

            </td>
            <td class="inventory">거래처</td>
            <td>
              <select class="drop">
                <option value="select">거래처</option>
                <option value="cupang">코드하우스</option>
                <option value="Gmarket">하나로마트</option>
                <option value="Gmarket">에이농장</option>
                <option value="Gmarket">팔피엠</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </form>


    <div id="orderList">
      <form class="orderData">
        <div class="allSelect">전체선택</div>
        <div class="titleBtnWrap">
          <h1> 작업실적 </h1>
          <div class="routingBtnWrap">
            <button class="routingBtn" type="button" >작업시작</button>
            <button class="routingBtn" type="button" >작업종료</button>
          </div>
        </div>
        <div class="table-container">
          <table id="orderData">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td>제조오더번호</td>
              <td>실적번호</td>
              <td>지시일자</td>
              <td>오더상태</td>
              <td>공정#</td>
              <td>공정</td>
              <td>품목코드</td>
              <td>품목명</td>
              <td>기준단위</td>
              <td>소요(분)</td>
              <td>워크센터</td>
              <td>지시</td>
              <td>생산</td>
            </tr>
            </thead>
            <tbody>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>
            <tr onclick="toggleCheckbox(this)">
              <td>1</td>
              <td>
                <input type="checkbox" id="checkbox">
              </td>
              <td>PP210317005</td>
              <td>SM2305040001</td>
              <td>2023-05-07</td>
              <td style="color: rgb(0, 120, 40);">가동중</td>
              <td>1</td>
              <td>양배추즙</td>
              <td>MAMP00001</td>
              <td>양배추즙</td>
              <td>EA</td>
              <td>1000</td>
              <td>양배추즙 생산</td>
              <td>1000</td>
              <td>0</td>
            </tr>

            </tbody>
            <!-- <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tfoot> -->
          </table>
        </div>
      </form>
    </div>

    <div id="orderDetails">
      <form class="orderForm">
        <div class=" Rwrap2">
          <button class="routingBtn" type="button" >생산실적</button>
          <button class="routingBtn" type="button" >자재투입</button>
          <button class="routingBtn" type="button" >작업자</button>
          <button class="routingBtn" type="button" >비가동</button>
        </div>
        <div class="table-container">
          <div class="routingBtnWrap">
            <button class="addBtn" type="button" >추가</button>
            <button class="deleteBtn" type="button" >삭제</button>
          </div>
          <table id="DetailsData">
            <thead class="orderData">
            <tr>
              <td></td>
              <td>품목코드</td>
              <td>품목명</td>
              <td>기준단위</td>
              <td>실적일</td>
              <td>실적수량</td>
              <td>LOT</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr onclick="changeColor(this)">
              <td>1</td>
              <td>ds5332</td>
              <td>양배추즙</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
            <!-- <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tfoot> -->
          </table>
        </div>
      </form>
      <button id="fileSave">엑셀저장</button>
    </div>
  </aside>
</div>

<!-- 스크립트 -->

<script src="/js/datapicker.js"></script>
<!-- <script src="js/popUP.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/download.js"></script>
<script src="/js/click.js"></script>
<script>

  $(document).ready(function() {

    $(".new").click(function() {
      $("#popUP_wrap").fadeIn();

    });

    $(".close").click(function() {

      $("#popUP_wrap").fadeOut();

    });

  });

</script>



<!-- "excel download" -->
<!-- Sheet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<!--FileSaver savaAs 이용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</body>
</html>